:root {
  --someBlueColor: rgb(19 17 35);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  color: white;
}

html, body {
  overflow-x: hidden;
}

body {
  width: 100vw;
}

.serbianMapClass {
  position: relative;
  z-index: 2;
}

.modalBackground {
  cursor: default;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.modalContent {
  background-color: white;
  font-size: 20px;
  padding: 30px;
  max-height: 100vh;
  overflow: auto;

  h1 {
    padding-bottom: 20px;
    font-size: 50px;
  }

  p {
    padding-bottom: 10px;
    word-spacing: 2px;
    line-height: 1.6;
    margin: 10px 0 10px 60px;
  }

  h4 {
    margin: 10px 0 10px 30px;
    padding-bottom: 10px;
    word-spacing: 2px;
    line-height: 1.6;
  }

  h3 {
    padding-bottom: 15px;
    font-weight: 800;
    font-size: 30px;
  }
}

.btnClass {
  display: flex;
  justify-content: center;
  color: black;
}

.firstBtn {
  margin: 40px;
  padding: 20px;
  font-size: 18px;
  width: 150px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s all;
}

.firstBtn:hover {
  transform: scale(1.1);
  background-color: rgba(84, 14, 215, 0.773);
  color: white;
}

.firstBtn:active {
  transform: scale(1);
}

.secondBtn {
  color: black;
  margin: 40px;
  padding: 20px;
  font-size: 18px;
  width: 150px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s all;
}

.secondBtn:hover {
  transform: scale(1.1);
  background-color: rgba(84, 14, 215, 0.773);
  color: white;
}

.secondBtn:active {
  transform: scale(1);
}

.cursor-pointer-false {
  cursor: pointer;
}

.cursor-pointer-true {
  cursor: default;
}

.vojvodinaTekstModalBackround {
  background-image: url(./assets/images/Vojvodina/vojvodinaTekstModalBackground.jpg);
  color: white;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.65);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  text-shadow: 5px 5px 5px black;
}

.sumadijaTekstModalBackground {
  background-image: url(./assets/images/SumadijaIZapadnaSrbija/sumadijaTeksBackround.jpg);
  color: white;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  text-shadow: 5px 5px 5px black;
}

.toolTipClass {
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
  color: black;
}

.okrugBackground {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 2200;
  background-color: white;
  font-size: 25px;
  cursor: default;


  .zapadnoBackiClassMain {
    background-image: url(../src/assets/images/Vojvodina/ZapadnoBackiOkrug/Sombor.jpg);
    background-position: 50%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: overlay;
    color: white;
    padding-bottom: 50px;
    font-size: 26px;
    text-shadow: 5px 5px 5px black;

    div {
      padding: 0 50px;

      word-spacing: 1.5px;
    }
  }

  .severnoBackiOkrug {
    background-image: url(../src/assets/images/Vojvodina/SevernoBackiOkrug/PalickoJezero3.jpg);
    background-position: 50% 90%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    color: white;
    padding-bottom: 50px;
    font-size: 26px;
    text-shadow: 5px 5px 5px black;

    div {
      padding: 0 50px;
      word-spacing: 1.5px;
    }
  }

  .severnoBanatskiOkrug {
    background-image: url("./assets/images/Vojvodina/SevernoBanatskiOkrug/kikindaBCG.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    color: white;
    padding-bottom: 50px;
    font-size: 26px;
    text-shadow: 5px 5px 5px black;

    div {
      padding: 0 50px;
      word-spacing: 1.5px;
    }
  }

  .juznoBackiOkrug {
    background-image: url("./assets/images/Vojvodina/JuznoBackiOkrug/NoviSad.jpg");
    background-position: 50% 40%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: white;
    padding-bottom: 50px;
    font-size: 26px;
    text-shadow: 5px 5px 5px black;

    div {
      padding: 0 50px;
      word-spacing: 1.5px;
    }
  }

  .srednjeBanatskiOkrug {
    background-image: url("./assets/images/Vojvodina/SrednjeBanatskiOkrug/SrednjeBanatskiOkrug.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    color: white;
    padding-bottom: 50px;
    font-size: 26px;
    text-shadow: 5px 5px 5px black;

    div {
      padding: 0 50px;
      word-spacing: 1.5px;
    }
  }

  .juznoBanatskiOkrug {
    background-image: url("./assets/images/Vojvodina/JuznoBanatskiOkrug/juznobanatskiOkrug.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: white;
    padding-bottom: 50px;
    text-shadow: 5px 5px 5px black;

    div {
      padding: 0 50px;
      word-spacing: 1.5px;
    }
  }

  .sremskiOkrug {
    background-image: url("./assets/images/Vojvodina/SremskiOkrug/sremski.jpg");
    background-position: 50% 40%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: white;
    padding-bottom: 50px;
    text-shadow: 5px 5px 5px black;

    div {
      padding: 0 50px;
      word-spacing: 1.5px;
    }
  }

  .macvanskiOkrug {
    background-image: url(../src/assets/images/SumadijaIZapadnaSrbija/MacvanskiOkrug/macvanski.jpg);
    background-position: 50%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    color: white;
    padding-bottom: 50px;
    font-size: 26px;
    text-shadow: 5px 5px 5px black;

    div {
      padding: 0 50px;
      word-spacing: 1.5px;
    }
  }

  .kolubarskiOkrug {
    background-image: url(../src/assets/images/SumadijaIZapadnaSrbija/KolubarskiOkrug/kolubarski.jpg);
    background-position: 50%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    color: white;
    padding-bottom: 50px;
    font-size: 26px;
    text-shadow: 5px 5px 5px black;

    div {
      padding: 0 50px;
      word-spacing: 1.5px;
    }
  }

    .sumadijskiOkrug {
      background-image: url(../src/assets/images/SumadijaIZapadnaSrbija/SumadijskiOkrug/sumadija.jpg);
      background-position: 50%;
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.5);
      background-blend-mode: overlay;
      color: white;
      padding-bottom: 50px;
      font-size: 26px;
      text-shadow: 5px 5px 5px black;
  
      div {
        padding: 0 50px;
        word-spacing: 1.5px;
      }
  }

  .zlatiborskiOkrug {
    background-image: url(../src/assets/images/SumadijaIZapadnaSrbija/ZlatiborskiOkrug/zlatiborskiOkrug.jpg);
    background-position: 50%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: moravickiOkrugwhite;
    padding-bottom: 50px;
    font-size: 26px;
    text-shadow: 5px 5px 5px black;

    div {
      padding: 0 50px;
      word-spacing: 1.5px;
    }  
  }

  .moravickiOkrug {
    background-image: url(../src/assets/images/SumadijaIZapadnaSrbija/MoravickiOkrug/moravickiOkrug.jpg);
    background-position: 50%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: moravickiOkrugwhite;
    padding-bottom: 50px;
    font-size: 26px;
    text-shadow: 5px 5px 5px black;

    div {
      padding: 0 50px;
      word-spacing: 1.5px;
    }  
  }

  .pomoravskiOkrug {
    background-image: url(../src/assets/images/SumadijaIZapadnaSrbija/PomoravskiOkrug/pomoravskiOkrug.jpg);
    background-position: 50%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: white;
    padding-bottom: 50px;
    font-size: 26px;
    text-shadow: 5px 5px 5px black;

    div {
      padding: 0 50px;
      word-spacing: 1.5px;
    }  
  }


  h1 {
    padding: 20px 50px 30px 50px;
    font-size: 50px;
  }

  form {
    padding: 0 50px 50px 50px;

    h3 {
      padding-bottom: 25px;
      font-size: 35px;
    }

    p {
      font-size: 31px;
      padding: 5px;
    }
    span {
      font-weight: 700;
    }
  }

  .beograd {
    background-image: url("./assets/images/Beograd/beograd1.jpg");
    background-position: 50% 40%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    color: white;
    padding-bottom: 50px;
    text-shadow: 5px 5px 5px black;

    div {
      padding: 0 50px;
      word-spacing: 1.5px;
    }
  }
}

.citatClass {
  background-color: white;

  p {
    text-align: center;
    padding: 50px;
    font-style: italic;
    font-weight: 500;
    color: #080818;
  }
}

.caruoselClass {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  .caruoselInfo {
    padding: 0;
  }

  .arrow {
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    position: absolute;
    cursor: pointer;
  }

  .arrow-left {
    left: 2%;
  }

  .arrow-right {
    right: 2%;
  }
}

.carousel {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.arrow2 {
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  position: absolute;
  cursor: pointer;
}

.arrow-left2 {
  left: 2%;
}

.arrow-right2 {
  right: 2%;
}

.caruoselBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 60%;
  height: 100vh;
  width: 100%;
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  position: absolute;
  z-index: 1;

  &-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &-visible {
    opacity: 1;
    pointer-events: auto;
  }

  .caruoselInfo {
    width: 400px;
    height: 450px;
    background-color: white;
    margin-top: 7%;
    margin-left: 10%;

    h3 {
      color: black;
      padding: 30px;
    }

    p {
      color: black;
      overflow: scroll;
      padding: 0 30px 30px 30px;
      height: 210px;
      font-size: 17px;
    }

    ::-webkit-scrollbar {
      display: none;
    }

    button {
      margin: 20px 0 30px 30px;
      width: 120px;
      height: 35px;
      color: black;
      font-size: 16px;
      font-weight: 500;
      background-color: #dddcdc;
      cursor: pointer;
    }
    button:hover {
      transform: scale(1.1);
    }

    button:active {
      transform: scale(1);
    }
  }
}

.placeBackground {
  width: 100vw;
  overflow-y: auto;
  z-index: 100000;

  h2 {
    position: absolute;
    top: 5px;
    font-size: 85px;
    margin: 40px 70px 0 100px;

    font-style: italic;
  }

  p {
    background-color: white;
    color: var(--someBlueColor);
    padding: 50px;
    font-size: 27px;
    line-height: 40px;
  }

  .fruskaGoraParagh {
    font-size: 22px;
    margin: 50px;
    overflow: auto;
    padding: 0;
    height: 350px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .fruskaGoraClassImg {
    width: 3500px;
    height: 450px;
    background-color: white;
    padding: 50px;
  }

  img {
    width: 100%;
    height: 100vh;
  }

  .displayFlex {
    background-color: white;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 30%;
    }

    img {
      width: 400px;
      height: 500px;
      object-fit: cover;
      margin: 40px 20px 0 20px;
    }

    p {
      margin-top: 10px;
      font-size: 22px;
      color: var(--someBlueColor);
      padding: 30px;
    }
  }

  .fourImages {
    display: flex;
    background-color: white;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    align-content: center;

    img {
      width: 300px;
      height: 400px;
    }
  }

  .manyImages {
    display: flex;
    gap: 50px;
    background-color: white;
    flex-direction: column;

    img {
      margin: 30px;
    }
  }

  .kgImages {
    width: 80%;
    height: 400px;
    margin-left: 50px;
    cursor: pointer;
  }
  
  .kgImages:hover {
    transform: scale(1.1);
  }

  .kgImages:active {
    transform: scale(1);
  }

  h2 {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    font-style: italic;
    text-shadow: 5px 5px 5px black;
  }
  
}

.displayFlexClassic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowLeft {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
  fill: var(--someBlueColor);
  z-index: 10000;

  :hover {
    transform: scale(1.2);
  }

  :active {
    transform: scale(1);
  }
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 60px;
  font-weight: 1000;
  overflow: hidden;
  font-size: 45px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10000;
  transition: background-color 0.3s ease;
}

.scroll-to-top-btn:hover {
  background-color: #0056b3;
}

.scroll-to-top-btn.show {
  display: flex;
}

.singleComponent {
  cursor: default;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  overflow: auto;
  pointer-events: auto;

}

.scrollableClass {
  position: relative;
  overflow-y: auto;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  height: 60vh;
}



@media (max-width: 420px) {
  .modalContent {
    p {
      font-size: 11px;
      margin: 0 0 0 10px;
    }

    h1 {
      font-size: 36px;
    }

    h3 {
      font-size: 24px;
      margin: 0;
    }

    h4 {
      font-size: 13px;
      margin: 0;
      font-weight: 500;
    }
  }

  .okrugBackground {
    form {
      padding: 0 50px 30px 50px;
    }

    h1 {
      font-size: 33px;
    }

    form span {
      padding-right: 5px;
    }
    form p {
      font-size: 18px;
      padding: 5px 0;
    }

    div {
      font-size: 15px;
      line-height: 21px;
    }
  }

  .caruoselClass {
    height: 60vh;

    .caruoselBackground {
      height: 60vh;

      .caruoselInfo {
        margin: 20px;
        height: 130px;
        width: 200px;

        p {
          display: none;
        }

        button {
          margin: 20px 0 30px 30px;
          height: 28px;
          width: 100px;
          font-size: 13px;
          top: 82px;
          position: absolute;
        }

        p {
          height: 135px;
          font-size: 13px;
        }

        h3 {
          padding-top: 15px;
        }
      }
    }
  }

  .citatClass p {
    font-size: 18px;
  }

  .placeBackground {
    h2 {
      font-size: 43px;
      margin: 20px 70px 0 30px;
      padding: 0;
      top: 0;
    }

    p {
      padding: 30px;
      font-size: 16px;
      line-height: 30px;
    }

    img {
      height: 60vh;
    }

    .displayFlex {
      display: flex;
      align-items: baseline;
      height: 78vh;

      img {
        height: 40vh;
        width: 27vw;
      }

      p {
        font-size: 15px;
        line-height: 27px;
      }
    }

    .flexColumn {
      display: flex;
      flex-direction: column;
    }

    .fruskaGoraParagh {
      overflow: visible;
      line-height: 27px;
      margin: 0 30px 30px 30px;
      font-size: 16px;
      height: 100%;
    }
    .fruskaGoraClassImg {
      height: auto;
      max-height: 60vh;
      width: 100%;
      padding: 0;
      margin: 50px 0;
    }

    .fourImages {
      margin-left: 10px;
      gap: 15px;
      padding: 15px;
      overflow: scroll;
      justify-content: flex-start;
    }
  }


}
